:root {
  --link-water-white: #fbfcfe;
  --circle: #d1dae2;
  --burger-menu-circle: #1f2c38;
  --mirage-blue: #1b262f;
  --dark-pink: #ba4270;
  --charm-pink: #da6d97;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #EDF3F8;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
}

/* >>>>>> Circles <<<<<<<<<< */

.circle_outer_top {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.circle_top,
.circle_burger_menu,
.circle_partners_section,
.circle_footer {
  width: 780px;
  height: 780px;
  border-radius: 780px;
  position: absolute;
}

.circle_top {
  background-color: var(--circle);
  top: -644px;
  left: 74px;
  z-index: -1;
}

.circle_burger_menu {
  background-color: var(--burger-menu-circle);
  top: -545px;
  left: -282px;
}

.circle_partners_section {
  background-color: var(--burger-menu-circle);
  top: -600px;
  left: -202px;
  z-index: 0;
}

.circle_footer {
  background-color: var(--burger-menu-circle);
  top: 176px;
  left: -202px;
  z-index: 0;
}

/* <><><><><><><>   Burger Menu  <><><><><><><><><> */

.burger_menu_logos {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pay_api_logo {
  margin-left: 24px;
  margin-top: 39px;
}

.burger_button {
  border: none;
  background-color: var(--circle);
  padding: 0;
  margin-right: 24px;
  margin-top: 39px;
}

.burger_menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--mirage-blue);
  width: 80%;
  max-width: 500px;
  padding: 48px 24px;
  transition: 0.2s;
  min-height: 667px;
  transform: translateX(100vw);
  overflow: hidden;
  z-index: 7;
}

.burger_menu_hidden {
  transform: translateX(0px);
}

.burger_menu_x_outer {
  display: flex;
  justify-content: end;
}

.burger_menu_x {
  width: fit-content;
  margin: 0;
  position: relative;
}

.burger_menu_line {
  width: 249px;
  height: 1px;
  border: 1px solid var(--link-water-white);
  opacity: 0.15;
  margin-top: 23px;
  margin-bottom: 42px;
}

.burger_menu_list {
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.burger_menu_list li {
  margin-bottom: 32px;
  width: fit-content;
}

.burger_menu_list a {
  text-decoration: none;
  color: var(--link-water-white);
  opacity: 0.7;
}

.schedule-a-demo-outer-burger {
  text-align: center;
}

.schedule-a-demo-burger {
  background-color: var(--dark-pink);
  border: none;
  width: 252px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: #fbfcfe;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.115px;
}

/*  >>>>>> Footer <<<<<<< */

.footer_black {
  background-color: var(--mirage-blue);
  text-align: center;
  padding: 41px 20px 55px 20px;
  position: relative;
  overflow: hidden;
}

.footer_list {
  list-style-type: none;
  padding: 0;
}

.footer_list li {
  width: fit-content;
}

.footer_list li:nth-child(2) {
  margin: 29px 0;
}

.footer_list a {
  text-decoration: none;
  color: #fbfcfe;
  font-weight: 700;
  opacity: 0.7;
}

footer h2 {
  color: #36536b;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin-top: 80px;
  margin-bottom: 32px;
}

footer form {
  margin-bottom: 79px;
}

.social_media {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social_media a {
  display: grid;
  align-items: center;
}

.footer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 39px 0;
}

/*   >>>>>>>> Hover states <<<<<<<<<< */

.pay_api_logo:hover,
.footer_api_logo img:hover,
.burger_button:hover,
.burger_menu_x:hover {
  transform: translateY(2px);
  cursor: pointer;
}

.burger_menu_list a:hover,
.footer_list a:hover {
  opacity: 1;
}

.schedule-a-demo-burger:hover {
  cursor: pointer;
  background-color: var(--charm-pink);
}

.header_form input:hover {
  cursor: pointer;
}

.schedule-a-demo:hover {
  background-color: var(--charm-pink);
  cursor: pointer;
}

.ps_about_us button:hover {
  color: var(--mirage-blue);
  background-color: var(--link-water-white);
  cursor: pointer;
}

.social_media img:hover {
  filter: invert(33%) sepia(75%) saturate(701%) hue-rotate(290deg) brightness(91%) contrast(88%);
}

/* >>>>>>>>>>> Active states <<<<<<<<<<<<< */

.pay_api_logo:active,
.footer_api_logo img:active,
.burger_button:active,
.burger_menu_x:active {
  transform: translateY(4px);
}

.burger_menu_list li:active,
.schedule-a-demo-burger:active,
.schedule-a-demo:active,
.ps_about_us button:active,
.social_media a:active,
.footer_list li:active {
  transform: translateY(2px);
}

.header_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_form input {
  border: none;
  outline: none;
  border-radius: 24px;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  width: 327px;
  height: 48px;
  color: #36536B;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 27px;
  margin-bottom: 16px;
}

.header_form input::placeholder {
  color: #37546d80;
}

.header_form input:hover {
  cursor: pointer;
}

.schedule-a-demo {
  background-color: var(--dark-pink);
  border: none;
  width: 327px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: #fbfcfe;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.25px;
}
/*Form*/
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  gap: 18px;
  margin-top: 34px;
}

.input-container {
  width: 100%;
  height: auto;
  position: relative;
}
.contact-form input:empty, .contact-form textarea:empty {
  border: none;
  border-bottom: 1px solid rgba(108,130,148, .8) ;
  padding: 0 20px;
  background-color: #EDF3F8;

}

.contact-form input, .contact-form textarea{
  color: #36536b;
  font-size: 15px;
  width: 100%;
}


.contact-form input {
  height: 48px;
}


.contact-form textarea {
  font-family: inherit;
  resize: none;
}

.contact-form input:focus,
.contact-form textarea:focus{
  color: #36536b;
  border-bottom: 1px solid #36536b;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: rgba(108,130,148, .8);
}

.contact-form .not-empty input,
.contact-form .not-empty textarea,
.contact-form .invalid input{
  border-bottom: 1px solid #FF0000;
  color: #FF0000;
}
.contact-form .not-empty::after {
  content: "This field can't be empty";
  color: #FF0000;
  font-size: 11px;
  position: absolute;
  left: 20px;
  bottom: -20px;
}

.contact-form .invalid::after {
  content: "Please use a valid email address";
  color: #FF0000;
  font-size: 11px;
  position: absolute;
  left: 20px;
  bottom: -20px;
}

.contact-form .not-empty input::placeholder,
.contact-form .not-empty textarea::placeholder{
  color: #FF0000;
}
/* checkbox */
.custom-checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.custom-checkbox-show--checkbox {
  background-color: #6c8294;
}

.custom-checkbox > .custom-checkbox-input {
  display: none;
}

.custom-checkbox > .custom-checkbox-show {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

.custom-checkbox > .custom-checkbox-text {
  line-height: 20px;
  width: 100%;
  color: rgb(152, 165, 178);

}

.custom-checkbox > .custom-checkbox-input:checked + .custom-checkbox-show--checkbox {
  background-image: url("/assets/check.svg");
  background-color: #ba4270;
}

.custom-checkbox  .custom-checkbox-input:checked ~ .custom-checkbox-text {
  color: #36536b;
}

.contact-form button[type=submit] {
  width: 152px;
  height: 48px;
  border-radius: 48px;
  border: 1px solid #36536b;
  color: #36536b;
  background-color: #EDF3F8;
}

.contact-form button[type=submit]:hover {
  background-color: #36536b;
  color: #fbfcfe;
}

.join-message-container h4{
  font-size: 24px;
  font-weight: 350;
  margin-bottom: 48px;
}
main {
  margin-left: 24px;
  margin-right: 24px;
}

h1,h2,h3,h4 {
    color: #36536b;
  text-align: center;
}
  
h4 {
font-family: DM Serif Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
letter-spacing: -0.185px;
opacity: 0.75;
}
h1  {
  color: #36536b;
  font-family: "DM Serif Display", serif;
  font-size: 39px;
  line-height: 36px;
  margin-top: 48px;
  letter-spacing: -0.246px;

  
 }
 h4{
  margin-top: 80px;
 }
 .join-message-container h4{
  font-size: 24px;
  font-weight: 350;
  margin-bottom: 48px;
}
.enterprises-logos-container {
  width: auto;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  justify-items: end;
  gap: 30px;
}
.tesla-icon,
.oracle-icon {
    justify-self: start;
}
.google-icon {
    justify-self: center;
}

.enterprises-logos-container {
  grid-template: 1fr 1fr 1fr /  1fr 1fr;
  gap: 25px;
  justify-items: center;
}